<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" text="IE=edge" />
<meta name="viewport" text="width=device-width, initial-scale=1.0" />

<title>Document</title>
<body>
<div class="pg-wrapper">
	<div id="container" class="pg-container">
		<div data-anchor="page1" class="pg-page pg-active">
	    <div id="backImg" style="background-image: url(tempBack.jpg); background-repeat: no-repeat; width: 100%; 
      background-position: center; height: 90%; background-size: 100%;">
       <div style="width: 900px; height: 100%; margin:auto;display: flex; align-items: center; ">
        <div style="  margin: auto;color:white;">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi voluptates neque assumenda vel quaerat ea magni necessitatibus natus, quos atque modi at illum ipsa pariatur quidem vitae, non mollitia!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi voluptates neque assumenda vel quaerat ea magni necessitatibus natus, quos atque modi at illum ipsa pariatur quidem vitae, non mollitia!
        </p>
        <ul style="list-style-type: none;">
          <li><h2>#Lorem ipsum dolor sit amet consectetur</h2></li>
          <li><h2>#Lorem ipsum dolor sit amet consectetur</h2></li>
          <li><h2>#Lorem ipsum dolor sit amet consectetur</h2></li>
        </ul>
        </div>
       </div>
      </div>
      <footer style="height: 130px; background-color: white; text-align: center;margin-top: -20px; ">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius laborum, aut porro saepe, rerum aliquid at distinctio cumque officiis, odio sunt iure consectetur </h1>
      </footer>
		</div>
		<div data-anchor="page2" class="pg-page">
			<div class="swiper-container" style="width: 100%; height: 100%;">
  
				<div class="swiper-wrapper"> 

					<div class="swiper-slide" style="background-color: pink; text-align: right; height: 100%;">
              <div style="display: flex; align-items: center; height: 80%; padding:10px"> 
                <div style="padding:10px">
                  <h1>1. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corrupti necessitatibus mollitia blanditiis vel modi, quod atque id tenetur ad dolor accusantium amet fugit pariatur minima facere aperiam odit. Corrupti?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corrupti necessitatibus mollitia blanditiis vel modi, quod atque id tenetur ad dolor accusantium amet fugit pariatur minima facere aperiam odit. Corrupti?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, 
                  </p>
                  <button class="w3-btn w3-white w3-hover-pink w3-margin">자세히 알아보기</button>
                </div>
                <img src="tempBack.jpg" width="500px" height="500px;" alt="">
              </div>
            
					</div>
					<div class="swiper-slide" style=" height: 100%;background-color: plum;text-align: center;">
	
            <div>
              <h1 >2. Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h1>
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quasi perferendis nostrum saepe, maiores pariatur rerum quis dolorem sequi minima quos placeat sapiente praesentium aliquid nulla laudantium repellendus ex eligendi!</p>
            </div>
        
         
            <img   src="tempBack.jpg" width="1000px" height="500px;" alt="">
        
					</div>
					<div class="swiper-slide">
            <div style="height: 100%;text-align: center; background-color: rgb(255, 206, 247);">
                  <h1>3.Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias placeat, totam blanditiis voluptas, eligendi illo id nostrum, recusandae fuga laboriosam dignissimos voluptatibus vitae architecto laudantium distinctio tempore officia veritatis aspernatur!</p>
                <div style="display: flex; align-items: center; height: 50%;">
                    <img src="tempBack.jpg" style="width: 33.3%;">
                    <img src="tempBack.jpg" style="width: 33.3%;">
                    <img src="tempBack.jpg" style="width: 33.3%;">
                  </div>
                  <button class="w3-btn w3-white w3-hover-pink w3-margin">자세히 알아보기</button>
            </div>
					</div>
          <div class="swiper-slide" style="background-color: pink; text-align: right; height: 100%;">
            <div style=" padding:10px"> 
              <div style="padding:10px">
                <h1>1. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corrupti necessitatibus mollitia blanditiis vel modi, quod atque id tenetur ad dolor accusantium amet fugit pariatur minima facere aperiam odit. Corrupti?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corrupti necessitatibus mollitia blanditiis vel modi, quod atque id tenetur ad dolor accusantium amet fugit pariatur minima facere aperiam odit. Corrupti?
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, 
                </p>
                <button class="w3-btn w3-white w3-hover-pink w3-margin">자세히 알아보기</button>
              </div>
              <div style="width: 1000px; height: auto; display: inline-block;">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
              <img src="tempBack.jpg" width="200px" height="200px;" alt="">
            </div>
            </div>
          
        </div>


				</div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  var pageable = new Pageable("#container", {
        pips: true,
        animation: 500,
        orientation: "vertical",
      
        onFinish : function(){
          // 스크롤 끝난 후
          console.log("onFinish");
          
         $("#backImg").css("margin-top","-20px");
 
         $(".swiper-slide").css("margin-top","90px");
      
        }
      });
      new Swiper(".swiper-container",{
        loop:true,
        spaceBetween:3,
        slidesPerView :"auto",
        pagination:false,
        loopAdditionalSlides:1,
      /*   autoplay:{
            delay:3000,
            disableOnInteraction:false
        }, */
        navigation:{
            nextEl:".swiper-button-next",
            prevEl:".swiper-button-prev"
        }
      });
</script>
</body>
</html>
