<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   	<style type="text/css">
   	*{
   	box-sizing: border-box;
   	}
   	.profile{
   		border: 2px solid gray;
   		background-color: lightpink;
   		width: 30%;
   		height: 100%;
   		margin: auto;
   		left: 1.5em;
   	}
   	#myimage{
   		margin: 3px;
   		
   	}
   	</style>
  </head>
  <body>
	<!-- 프로필 블록  -->
	<div class ="profile">
		<div class ="myimage">
			<img alt="" src="../img/profile_img.png">
		</div>
	</div>
  </body>
</html>
